// check
.check {
  .progress {
    &-line {
      width: 100%;
      top: 27px;
      padding-left: 20px;
      padding-right: 20px;
      z-index: -1;
      .line-item {
        height: 2px;
        width: 100%;
        background: #000;
      }
    }
  }
  @include pad {
    h2 {
      font-size: 32px !important;
    }
    .progress {
      &-stage {
        font-size: 16px !important;
        padding: 4px 11px !important;
      }
      &-line {
        top: 16px;
      }
    }
  }
}