<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>首頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="banner mb-6 mb-lg-7">
      <div class="container">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../assets/images/index/index-banner.jpg" class="d-block w-100 object-cover" height="518" alt="index-banner-1">
              <h2 class="font-YesevaOne position-absolute d-none d-lg-block">19 MAY 2023</h2>
              <h2 class="font-YesevaOne position-absolute d-lg-none">19 MAY<br> 2023</h2>
              <div class="carousel-caption p-0">
                <h5 class="fs-4 fw-bold font-NotoSerifTC mb-lg-3">隔牆有耳-沒有草東的派對</h5>
                <p class="d-none d-lg-block">你各位聽團仔們！每次想跟朋友一起聽草東專場卻每一次都搶不到票？「草東沒有派對」永遠都是「草東沒有門票」！
                  帶上啤酒、野餐墊，讓我們在Live House外面一起開場「沒有草東的派對」吧！</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="navigation pb-6 pb-lg-7">
      <div class="container">
        <ul class="row g-2 list-unstyled">
          <li class="col-4 col-lg-2">
            <a href="#" class="d-flex flex-column justify-content-center align-items-center border border-2 border-primary">
              <img src="../assets/images/index/cate01.svg" width="80" alt="cate01">
              <p class="fs-4 fw-bold font-NotoSerifTC mt-2 mt-lg-3">演出</p>
            </a>
          </li>
          <li class="col-4 col-lg-2">
            <a href="#" class="d-flex flex-column justify-content-center align-items-center border border-2 border-primary">
              <img src="../assets/images/index/cate02.svg" width="80" alt="cate02">
              <p class="fs-4 fw-bold font-NotoSerifTC mt-2 mt-lg-3">聯誼</p>
            </a>
          </li>
          <li class="col-4 col-lg-2">
            <a href="#" class="d-flex flex-column justify-content-center align-items-center border border-2 border-primary">
              <img src="../assets/images/index/cate03.svg" width="80" alt="cate03">
              <p class="fs-4 fw-bold font-NotoSerifTC mt-2 mt-lg-3">展覽</p>
            </a>
          </li>
          <li class="col-4 col-lg-2">
            <a href="#" class="d-flex flex-column justify-content-center align-items-center border border-2 border-primary">
              <img src="../assets/images/index/cate04.svg" width="80" alt="cate04">
              <p class="fs-4 fw-bold font-NotoSerifTC mt-2 mt-lg-3">美食</p>
            </a>
          </li>
          <li class="col-4 col-lg-2">
            <a href="#" class="d-flex flex-column justify-content-center align-items-center border border-2 border-primary">
              <img src="../assets/images/index/cate05.svg" width="80" alt="cate05">
              <p class="fs-4 fw-bold font-NotoSerifTC mt-2 mt-lg-3">戶外</p>
            </a>
          </li>
          <li class="col-4 col-lg-2">
            <a href="products.html" class="d-flex justify-content-center align-items-center bg-primary h-100 border border-2 border-primary">
              <h2 class="fs-1 fw-bold font-NotoSerifTC text-secondary">探索<br>更多</h2>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <section class="recent mb-6 mb-lg-8">
      <div class="container">
        <div data-aos="fade-right" class="recent-header d-flex justify-content-between align-items-center border border-3 border-primary px-3 px-lg-6 py-4 py-lg-5 mb-5 mb-lg-6">
          <h2 class="font-YesevaOne">RECENT</h2>
          <p class="fs-2 fw-bold font-NotoSerifTC">近期活動</p>
        </div>

        <div class="recent-card row row-cols-1 row-cols-md-2 row-cols-lg-3 gx-5 gy-5 gy-lg-7">
          <div data-aos="zoom-in" class="col">
            <div class="card text-center border-0 h-100">
              <h3 class="fs-1 font-YesevaOne text-start bg-light border-bottom border-3 border-primary pb-2 pb-lg-3">19 MAY 2023</h3>
              <div class="card-body bg-light pt-3 px-0 pb-4">
                <img src="../assets/images/index/01.jpg" alt="01">
                <h4 class="card-title text-start fw-bold font-NotoSerifTC mb-0 py-2 py-lg-3">邪典電影派對——房間</h4>
                <p class="card-text text-start">你有聽說過「大災難家」裡面的主角 Tommy Wiseau 製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
              </div>
              <div class="card-footer bg-light border-top border-bottom border-2 border-primary d-flex justify-content-between px-0 py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img src="../assets/images/index/sparkler.png" width="24" alt="sparkler">
                  <p class="fw-bold font-NotoSerifTC ms-1">社群活動</p>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <p class="fw-bold font-NotoSerifTC me-1">開賣中</p>
                  <img src="../assets/images/index/Vector.svg" alt="Vector">
                </a>
              </div>
            </div>
          </div>
          <div data-aos="zoom-in" class="col">
            <div class="card text-center border-0 h-100">
              <h3 class="fs-1 font-YesevaOne text-start bg-light border-bottom border-3 border-primary pb-2 pb-lg-3">23 MAY 2023</h3>
              <div class="card-body bg-light pt-3 px-0 pb-4">
                <img src="../assets/images/index/02.jpg" alt="02">
                <h4 class="card-title text-start fw-bold font-NotoSerifTC mb-0 py-2 py-lg-3">怪舞俱樂部</h4>
                <p class="card-text text-start">覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
              </div>
              <div class="card-footer bg-light border-top border-bottom border-2 border-primary d-flex justify-content-between px-0 py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img src="../assets/images/index/sparkler.png" width="24" alt="sparkler">
                  <p class="fw-bold font-NotoSerifTC ms-1">演出</p>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <p class="fw-bold font-NotoSerifTC me-1">檢視活動</p>
                  <img src="../assets/images/index/Vector.svg" alt="Vector">
                </a>
              </div>
            </div>
          </div>
          <div data-aos="zoom-in" class="col">
            <div class="card text-center border-0 h-100">
              <h3 class="fs-1 font-YesevaOne text-start bg-light border-bottom border-3 border-primary pb-2 pb-lg-3">30 MAY 2023</h3>
              <div class="card-body bg-light pt-3 px-0 pb-4">
                <img src="../assets/images/index/03.jpg" alt="03">
                <h4 class="card-title text-start fw-bold font-NotoSerifTC mb-0 py-2 py-lg-3">哈利波特馬拉松</h4>
                <p class="card-text text-start">每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
              </div>
              <div class="card-footer bg-light border-top border-bottom border-2 border-primary d-flex justify-content-between px-0 py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img src="../assets/images/index/sparkler.png" width="24" alt="sparkler">
                  <p class="fw-bold font-NotoSerifTC ms-1">聯誼</p>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <p class="fw-bold font-NotoSerifTC me-1">開賣中</p>
                  <img src="../assets/images/index/Vector.svg" alt="Vector">
                </a>
              </div>
            </div>
          </div>
          <div data-aos="zoom-in" class="col">
            <div class="card text-center border-0 h-100">
              <h3 class="fs-1 font-YesevaOne text-start bg-light border-bottom border-3 border-primary pb-2 pb-lg-3">12 June 2023</h3>
              <div class="card-body bg-light pt-3 px-0 pb-4">
                <img src="../assets/images/index/04.jpg" alt="04">
                <h4 class="card-title text-start fw-bold font-NotoSerifTC mb-0 py-2 py-lg-3">皮卡丘排球大賽</h4>
                <p class="card-text text-start">還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
              </div>
              <div class="card-footer bg-light border-top border-bottom border-2 border-primary d-flex justify-content-between px-0 py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img src="../assets/images/index/sparkler.png" width="24" alt="sparkler">
                  <p class="fw-bold font-NotoSerifTC ms-1">遊戲競賽</p>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <p class="fw-bold font-NotoSerifTC me-1">開賣中</p>
                  <img src="../assets/images/index/Vector.svg" alt="Vector">
                </a>
              </div>
            </div>
          </div>
          <div data-aos="zoom-in" class="col">
            <div class="card text-center border-0 h-100">
              <h3 class="fs-1 font-YesevaOne text-start bg-light border-bottom border-3 border-primary pb-2 pb-lg-3">25 June 2023</h3>
              <div class="card-body bg-light pt-3 px-0 pb-4">
                <img src="../assets/images/index/05.jpg" alt="05">
                <h4 class="card-title text-start fw-bold font-NotoSerifTC mb-0 py-2 py-lg-3">酒精路跑</h4>
                <p class="card-text text-start">身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
                </p>
              </div>
              <div class="card-footer bg-light border-top border-bottom border-2 border-primary d-flex justify-content-between px-0 py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img src="../assets/images/index/sparkler.png" width="24" alt="sparkler">
                  <p class="fw-bold font-NotoSerifTC ms-1">社群活動</p>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <p class="fw-bold font-NotoSerifTC me-1">開賣中</p>
                  <img src="../assets/images/index/Vector.svg" alt="Vector">
                </a>
              </div>
            </div>
          </div>
          <div data-aos="zoom-in" class="col">
            <div class="card text-center border-0 h-100">
              <h3 class="fs-1 font-YesevaOne text-start bg-light border-bottom border-3 border-primary pb-2 pb-lg-3">9 July 2023</h3>
              <div class="card-body bg-light pt-3 px-0 pb-4">
                <img src="../assets/images/index/06.jpg" alt="06">
                <h4 class="card-title text-start fw-bold font-NotoSerifTC mb-0 py-2 py-lg-3">展覽——我的房間</h4>
                <p class="card-text text-start">每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
              </div>
              <div class="card-footer bg-light border-top border-bottom border-2 border-primary d-flex justify-content-between px-0 py-2 py-lg-3">
                <a href="#" class="d-flex align-items-center">
                  <img src="../assets/images/index/sparkler.png" width="24" alt="sparkler">
                  <p class="fw-bold font-NotoSerifTC ms-1">展覽</p>
                </a>
                <a href="#" class="d-flex align-items-center">
                  <p class="fw-bold font-NotoSerifTC me-1">開賣中</p>
                  <img src="../assets/images/index/Vector.svg" alt="Vector">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="online mb-6 mb-lg-8">
      <div class="container">
        <div data-aos="fade-right" class="online-header d-flex justify-content-between align-items-center border border-3 border-primary px-3 px-lg-6 py-4 py-lg-5 mb-5 mb-lg-6">
          <h2 class="font-YesevaOne">ONLINE</h2>
          <p class="fs-2 fw-bold font-NotoSerifTC">線上活動</p>
        </div>
        <div data-aos="fade-right" class="row gy-3">
          <div class="col-12 col-lg-7">
            <img src="../assets/images/index/online-img.png" class="object-cover h-100" alt="online-img">
          </div>
          <div class="col-12 col-lg-5">
            <div>
              <h3 class="fs-2 fw-bold font-NotoSerifTC mb-2 mb-lg-4">切特居批踢</h3>
              <ul class="list-unstyled d-flex mb-2 mb-lg-6">
                <li><a class="online-link--hover border border-primary px-4 px-lg-5 py-1 me-2" href="#"><span class="d-inline-block font-NotoSerifTC fw-bold">競賽</span></a></li>
                <li><a class="online-link--hover border border-primary px-4 px-lg-5 py-1 me-2" href="#"><span class="d-inline-block font-NotoSerifTC fw-bold">科技</span></a></li>
                <li><a class="online-link--hover border border-primary px-4 px-lg-5 py-1 me-2" href="#"><span class="d-inline-block font-NotoSerifTC fw-bold">有趣</span></a></li>
              </ul>
              <p class="mb-3 mb-lg-5">最近網路上很流行的AI程式 ChatGPT，可以用來聊天或是查詢、整理各種資料，不同的應用方式如雨後春筍般冒出來。
                <br>這個活動讓大家把自己最有特色的使用方法提出來讓大家參考，也會投票出最有趣的用法。
                <br>該讓其他人知道自己使用 ChatGPT 的姿勢才是最特別的那個了！</p>
              <div class="d-grid gap-2">
                <button class="btn btn-primary cursor-pointer fs-5 py-4 py-lg-2" type="button">查看活動詳情<i class="icofont-rounded-double-right ms-1"></i></button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

    <div class="activity mb-6 mb-lg-8">
      <marquee class="fs-3 fw-bold font-NotoSerifTC text-secondary bg-primary py-4 py-lg-5">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</marquee>
      <div class="container py-7 py-lg-8">
        <ul class="row row-cols-1 row-cols-lg-2 row-cols-xl-4 list-unstyled gy-7">
          <li class="col">
            <div data-aos="flip-left" data-aos-duration="700">
              <div class="card h-100 bg-light text-primary border border-3 border-primary p-4 pb-7">
                <div class="position-absolute top-0 start-50 translate-middle">
                  <h5 class="card-title">社群活動</h5>
                </div>
                <img src="../assets/images/index/active-1.jpg" class="card-img object-cover" alt="active-1">
                <p class="text-primary fs-6 font-NotoSerifTC fw-bold mt-4">無聲派對-閉閉嘴dancing</p>
              </div>
            </div>
          </li>
          <li class="col">
            <div data-aos="flip-right" data-aos-duration="700">
              <div class="card h-100 bg-light text-primary border border-3 border-primary p-4 pb-7">
                <div class="position-absolute top-0 start-50 translate-middle">
                  <h5 class="card-title">藝文活動</h5>
                </div>
                <img src="../assets/images/index/active-2.jpg" class="card-img object-cover" alt="active-2">
                <p class="text-primary fs-6 font-NotoSerifTC fw-bold mt-4">拯救老店大作戰</p>
              </div>
            </div>
          </li>
          <li class="col">
            <div data-aos="flip-left" data-aos-duration="700">
              <div class="card h-100 bg-light text-primary border border-3 border-primary p-4 pb-7">
                <div class="position-absolute top-0 start-50 translate-middle">
                  <h5 class="card-title">自我覺察</h5>
                </div>
                <img src="../assets/images/index/active-3.jpg" class="card-img object-cover" alt="active-3">
                <p class="text-primary fs-6 font-NotoSerifTC fw-bold mt-4">內觀修行-部落篇</p>
              </div>
            </div>
          </li>
          <li class="col">
            <div data-aos="flip-right" data-aos-duration="700">
              <div class="card h-100 bg-light text-primary border border-3 border-primary p-4 pb-7">
                <div class="position-absolute top-0 start-50 translate-middle">
                  <h5 class="card-title">聯誼活動</h5>
                </div>
                <img src="../assets/images/index/active-4.jpg" class="card-img object-cover" alt="active-4">
                <p class="text-primary fs-6 font-NotoSerifTC fw-bold mt-4">賞櫻野餐</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <marquee class="fs-3 fw-bold font-NotoSerifTC text-secondary bg-primary py-4 py-lg-5">活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS・活動集錦・ALBUMS</marquee>
    </div>

    <div class="contact mb-7 mb-md-8">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-2 gy-5 g-md-0" data-aos="fade-down" data-aos-duration="700">
          <div class="col">
            <div class="border border-3 border-primary h-100">
              <h3 class="fs-3 fw-bold font-NotoSerifTC border-bottom border-3 border-primary py-4 ps-3 ps-md-6">#FOLLOW US</h3>
              <div class="py-4 ps-3 p-md-6">
                <p class="mb-6">想第一時間獲得新奇有趣的活動資訊？
                  <br>追蹤我們的社群吧！
                  <br>也歡迎你聯繫我們，提供好玩有趣的活動企劃。</p>
                <ul class="list-unstyled">
                  <li class="mb-4 d-flex align-items-center"><i class="icofont-ui-email text-light bg-primary p-2 me-4"></i><a href="mailto:7tao.event@gmail.com">7tao.event@gmail.com</a></li>
                  <li class="mb-4 d-flex align-items-center"><i class="icofont-phone text-light bg-primary p-2 me-4"></i><a href="tel:+09123123123">09123123123</a></li>
                  <li class="d-flex align-items-center"><i class="icofont-facebook text-light bg-primary p-2 me-4"></i><a href="#">7TAO七逃</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="contact-sub border border-3 border-start-0 border-primary h-100 d-flex flex-column justify-content-between">
              <div>
                <h3 class="fs-3 fw-bold font-NotoSerifTC border-bottom border-3 border-primary py-4 ps-3 ps-md-6">#subscribe us</h3>
                <div class="py-4 px-3 px-md-6 pt-md-6 d-flex flex-column">
                  <p class="mb-6">訂閱電子報送折價券！
                    <br>定期精選文章資訊及最新優惠資訊，
                    <br>還不通通給我訂閱起來？</p>
                  <input type="email" class="form-control border border-2 border-primary py-4 ps-5" id="exampleFormControlInput1" placeholder="輸入Email">
                </div>
              </div>
              <div class="d-grid gap-2">
                <button class="btn btn-primary cursor-pointer fs-5 py--4 py-md-2" type="button">確認訂閱<i class="icofont-rounded-double-right ms-1"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dream" data-aos="fade-up" data-aos-duration="700">
      <div class="border-top border-3 border-primary text-center py-7 py-lg-8">
        <h3 class="fs-4 fw-bold font-NotoSerifTC mb-3 mb-lg-4">此刻打盹，你將做夢；此刻學習，你將圓夢</h3>
        <p class="fs-6 font-NotoSerifTC fw-bold">——我也不知道誰說的</p>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
