<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>會員登入</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    
    <div class="login">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-4">
            <div class="d-flex flex-column align-items-center mb-4">
              <img src="../assets/images/index/sparkler.png" width="31" alt="sparkler">
              <h2 class="fs-4 lh-base fw-bold font-NotoSerifTC mt-4">會員登入</h2>
            </div>
            <div class="mb-4">
              <label for="email" class="form-label">帳號</label>
              <input type="email" class="form-control border border-2 border-primary" id="email" placeholder="請輸入帳號">
            </div>
            <div class="mb-6">
              <label for="password" class="form-label">密碼</label>
              <input type="password" class="form-control border border-2 border-primary" id="password" placeholder="請輸入密碼">
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-primary fs-5 py-4 py-lg-2" type="button">登入<i class="icofont-rounded-double-right ms-1"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
